body {
    margin: 66px;
}

p {
    text-align: justify;
}
.header-banner {
    height: 350px; /* Puedes ajustar: 400px, 500px, etc. */
    overflow: hidden;
}

.header-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
